upstream socket_backend {
	server unix:/home/ubuntu/code/ProxyManagement/backend/run/gunicorn.sock fail_timeout=0;
	# server 127.0.0.1:8000;
}

server {
	if ($host = www.${DOMAIN}) {
		return 301 https://$host$request_uri;
	} 

	if ($host = ${DOMAIN}) {
		return 301 https://$host$request_uri; 
	}
	    
	if ($host = stage.${DOMAIN}) {
		return 301 https://$host$request_uri;
	} 

	server_name     ${DOMAIN} www.${DOMAIN} stage.${DOMAIN};
	listen          80 default_server;

	location /.well-known/acme-challenge/ {
		allow all;
	}

	return 404;
}

map $server_port $x_forwarded_port {
	80      80;
	443     443;
	default $server_port;
}

server {
        server_name         	${DOMAIN} www.${DOMAIN};
        listen              	443 ssl;
	include			/etc/nginx/includes/ssl_settings.conf;
	include			/etc/nginx/includes/proxy_headers.conf;
        server_tokens      	off;

	proxy_set_header    	X-Forwarded-Port    $x_forwarded_port;

        # location for http        
        location / {
                
                # proxy_cache name located in nginx.conf file
		# proxy_cache             wireguard_cache;
		# proxy_cache_valid       200 302 60m;
		# proxy_cache_valid       404 1m;

		# Handle preflight requests
		if ($request_method = OPTIONS) {
			include		/etc/nginx/includes/preflight_request_headers.conf;
			return 204;
		}
		include			/etc/nginx/includes/cors_headers.conf;
		proxy_pass		http://socket_backend;
        }

	location /static {
		alias /home/ubuntu/code/ProxyManagement/backend/static;
	}

        # location for websockets
        location /ws/ {
                proxy_pass 		http://socket_backend;
                proxy_http_version	1.1;
                proxy_set_header 	Upgrade $http_upgrade;
                proxy_set_header 	Connection "upgrade";
        }

	location /conf/ {
		alias 			/home/ubuntu/code/vars/;
		auth_basic 		"Configuration";
   		auth_basic_user_file 	/home/ubuntu/.htpasswd;
	}

	location /docs {
                auth_basic 		"Documentation";
                auth_basic_user_file 	/home/ubuntu/.htpasswd;

                if ($request_method = OPTIONS) {
			include		/etc/nginx/includes/preflight_request_headers.conf;
                        return 204;
                }

		include		/etc/nginx/includes/cors_headers.conf;
		include		/etc/nginx/includes/proxy_headers.conf;
                proxy_pass	http://socket_backend/docs;
        }
}


upstream backend_stage {
    server 127.0.0.1:8001;
}

server {
	listen 			443 ssl;
	server_name 		stage.${DOMAIN};
	include			/etc/nginx/includes/ssl_settings.conf;
	include			/etc/nginx/includes/proxy_headers.conf;
	server_tokens      	off;

	proxy_set_header    	X-Forwarded-Port    $x_forwarded_port;

	location / {
	    proxy_pass 		http://backend_stage; 
	}

	# location for wesockets
	location /ws/ {
                proxy_pass 		http://backend_stage;
                proxy_http_version	1.1;
                proxy_set_header 	Upgrade $http_upgrade;
                proxy_set_header 	Connection "upgrade";
	}

	location /static {
		alias /home/ubuntu/code/ProxyManagement/backend/static;
	}
}
