DEBUG=True
USE_ROOT_PATH=False

DEFAULT_ENCODING="utf-8"
SOCKET_STOP_CONNECTION_COND="STOP\n"
SOCKET_START_CONNECTION_COND="START\n"
DATABASE_URL=postgresql://postgres:password@127.0.0.1:5432/db
DB_ECHO_ENABLE=False

DATABASE_URL_TEST=postgresql://postgres_test:password@localhost:5432/test_db

# JWT ENCODING AND DECODING
SECRET_KEY=secret_value
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_SECONDS=3600

# MODEM REBOOTING
MAX_TIME_CURL=10
FETCH_IP_ATTEMPTS=5
REBOOT_ATTEMPTS=3
DELAY_AFTER_REBOOT=10

# LOGS
# 1 Mb
MAX_BYTES_LOG_ROTATING=100048576
BACKUP_COUNT=10

ROOT_DIR_WIN="C:\proxy"
ROOT_DIR_LINUX="$HOME/proxy"

# SEND EMAIL
EMAIL_PASSWORD=password
EMAIL_HOST=smtp.gmail.com
EMAIL_FROM=example@gmail.com
EMAIL_PORT=465

# time in minites
OTP_EXPIRE_TIME=10

# SOCKET
PID_FILE="server.pid"
CONN_COUNT_FILE="conn_count.txt"

# Google OAuth2
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

UNIQUE_USER_TOKEN_LENGTH=32
COOKIES_KEY_JWT=accesstoken
COOKIES_GOOGLE_ACCESS_TOKEN=googleaccesstoken

COOKIES_KEY_CSRF=csrftoken
CSRF_NUMBER_OF_BYTES=64

CLOUDFLARE_TURNSTILE_SECRET_KEY=
CLOUDFLARE_TURNSTILE_SITEKEY=