{% extends "base.html" %}

{% block title %}Change IP{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="/static/css/change_ip.css">
{% endblock %}

{% block content %}
    <h2>Click the button to change IP</h2>

    <div id="messages" class="ip-info">
        <p><span>Old IP:</span><span id="old-ip">----.----.----.----</span></p>
        <p><span>New IP:</span><span id="new-ip">----.----.----.----</span></p>
    </div>

    <div id="loading-spinner" class="spinner" style="display: none;"></div>
    <button disabled id="change-ip">Change IP</button>

    <input id="link-stat" type="hidden" name="link-stat" value="{{link_is_valid}}" readonly>
    <input id="modem-id" type="hidden" name="modem-id" value="{{modem_id}}" readonly>
    <input id="ws-root-url" type="hidden" name="root-ws-url" value="{{ws_root_url}}" readonly>

<div class="error"></div>
{% endblock %}

{% block scripts %}
    <script src="/static/js/change_ip.js"></script>
{% endblock %}