<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
        }

        h3 {
            color: #333;
        }

        .reset-link {
            color: #007BFF;
            font-size: 15px;
        }
    </style>
</head>

<body>
    <h3>Hello, {{email}}.</h3>
    <p>
        We received a request to reset the password for your account.
        If you did not make this request, please ignore this email.
        Otherwise, you can reset your password using the link below:
    </p>

    <p><a href="{{reset_link}}" class="reset-link">{{reset_link}}</a></p>

    <p>If you did not request this code, please ignore this email.</p>
</body>

</html>