{% extends "base.html" %}

{% block title %}Sign In{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/authentication.css">
{% endblock %}

{% block content %}
    <h2>Sign In</h2>
    <form id="authentication-form" 
        data-basic-login-url="{{basic_login_url}}" 
        data-google-login-url="{{google_login_url}}" 
        data-captcha-verify-url="{{captcha_verify_url}}">
        
        <div class="input-container">
            <input type="email" id="email" name="email" placeholder="Email" required>
            <div id="email-error" class="error-message"></div>
        </div>

        <div class="input-container">
            <input type="password" id="password" name="password" placeholder="Password" required>
            <div id="password-error" class="error-message"></div>
        </div>

        <div id="cloudflare-captcha"
            data-sitekey="{{cloudflare_sitekey}}"
            data-size="normal"
            data-theme="light"
            data-callback="callback"
            data-error-callback="error">
        </div>
        
        <input type="hidden" id="sitekey" name="cf-sitekey" value="{{cloudflare_sitekey}}">
        <button type="submit" id="signin">Sign In</button>
    </form>

    <button type="button" id="google-oauth">Login via Google</button>

    <p>Don't have an account? <a href="{{reg_url}}">Register here</a></p>
    <p>Forgot password? <a href="{{reset_password_page_url}}">Reset password</a></p>
{% endblock %}

{% block scripts %}
    <script src="/static/js/authentication.js" type="module"></script>
{% endblock %}
