{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
{% endblock %}

{% block content %}
    <h3>Select actions below:</h3>
    <ul>
        <li>
            <a class="actions" href="{{modems_list_url}}">
                <span class="material-symbols-outlined">checklist</span>
                Proxies list
            </a>
        </li>
        {% if google_disconnection_url %}
            <li>
                <a class="actions" id="google-disconnect" href="{{google_disconnection_url}}">
                    <span class="material-symbols-outlined">logout</span>
                    Disconnect from  Google
                </a>
            </li>
        {% endif %}
        <li>
            <a class="actions" id="delete-account" href="{{delete_user_url}}">
                <span class="material-symbols-outlined">delete</span>
                Delete account
            </a>
        </li>
    </ul>
{% endblock %}

{% block scripts %}
    <script src="/static/js/logout.js"></script>
    <script src="/static/js/disconnect_google_account.js"></script>
    <script src="/static/js/index.js"></script>
{% endblock %}