{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block content %}
    <h3>Select actions below:</h3>
    <ul>
        <li>
            <a href="{{modems_list_url}}">Change IP address</a>
        </li>
        {% if google_disconnection_url %}
            <li>
                <a id="google-disconnect" href="{{google_disconnection_url}}">Disconnect from  Google account</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block scripts %}
    <script src="/static/js/logout.js"></script>
    <script src="/static/js/disconnect_google_account.js"></script>
{% endblock %}