{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}Register{% endblock %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/registration.js"></script>
    {% block styles %}
        <link rel="stylesheet" href="/static/css/registration.css">
    {% endblock %}
</head>

{% block content %}
    <h2>Register</h2>
    <form id="registration-form" data-reg-url="{{reg_url}}">
        <div class="input-container">
            <input type="email" id="email" name="email" placeholder="Email" required>
            <div id="email-error" class="error-message"></div>
        </div>
        <div class="input-container">
            <input type="password" id="password" name="password" placeholder="Password" required>
            <div id="password-error" class="error-message"></div>
        </div>
        <button type="submit" id="register">Register</button>
    </form>
    <div id="reg-success"></div>
    </div>
{% endblock %}
</html>