{% extends "base.html" %}

{% block title %}Register{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="/static/css/registration.css">
{% endblock %}
</head>

{% block content %}
    <h2>Register</h2>
    <form id="registration-form" data-reg-url="{{reg_url}}">
        <div class="input-container">
            <input type="email" id="email" name="email" placeholder="Email" required>
            <div id="email-error" class="error-message"></div>
        </div>
        <div class="input-container">
            <input type="password" id="password" name="password" placeholder="Password" required>
            <div id="password-error" class="error-message"></div>
        </div>
        <button type="submit" id="register">Register</button>
    </form>
    <div id="reg-success"></div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="/static/js/registration.js"></script>
{% endblock %}