{% extends "base.html" %}

{% block title %} Reset Password Confirm {% endblock %}
{% block styles %}
    <link rel="stylesheet" href="/static/css/reset_password_confirm.css">
{% endblock %}

{% block content %}
    <h2>Reset password confirm</h2>
    <form id="new-password-form" data-reset-confirm-url="{{reset_password_confirm_url}}">
        <div class="input-container">
            <input type="password" id="new-password" name="new_password" placeholder="New Password" required>
            <div id="new-password-error" class="error-message"></div>
        </div>
        <div class="input-container">
            <input type="password" id="confirm-password" name="confirm_password" placeholder="Confirm Password"
                required>
            <div id="confirm-password-error" class="error-message"></div>
        </div>
        <button type="submit" id="confirm-reset">Reset password</button>
    </form>
    <input id="uid" type="hidden" name="uid" value="{{uid}}" required readonly>
    <input id="token" type="hidden" name="token" value="{{token}}" required readonly>
    <div id="reset-success"></div>
{% endblock %}

{% block scripts %}
    <script src="/static/js/reset_password_confirm.js"></script>
{% endblock %}
