{% extends "base.html" %}

{% block title %}Verify email{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="/static/css/verify_otp.css">
{% endblock %}


{% block content %}
    <h2>Enter your code from email message</h2>

    <form id="otp-form" data-url="{{compare_codes_url}}" data-repeat-url="{{repeat_compare_codes_url}}">
        <label for="otp-input">Code:</label>
        <input type="text" id="otp-input" name="otp" required>
        <input id="token" type="hidden" name="token" value="{{token}}" readonly required>
        <input id="uid" type="hidden" name="uid" value="{{uid}}" readonly required>
        <button type="submit">Verify code</button>
    </form>

    <p class="message" id="otp-message"></p>
{% endblock %}

{% block scripts %}
    <script src="/static/js/verify_otp.js"></script>
{% endblock %}
