.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    position: relative;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

form {
    width: 100%;
}

.input-container {
    margin-bottom: 20px;
    position: relative;
}

input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.error-message {
    color: rgb(235, 27, 27);
    font-size: 14px;
    margin-top: 5px;
    margin-left: 10px;
    text-align: left;
}

button {
    background-color: #2980b9;
    width: 380px;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 15px;
}

button:disabled {
    background-color: #2674a8;
    cursor: default
}

button:hover {
    background-color: #3498db;
}

.link {
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
    color: #3498db;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

#reset-success {
    font-size: 17px;
}